%nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.mb-3
  %button.navbar-toggler{"aria-controls" => "navbarNav4", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav4", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "#"} ビデオ通話
  .collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        -# = link_to "マイページ", "#", class: "nav-link"
      %li.nav-item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"