#calendar
- if user_signed_in?
  -# = link_to "マイページ", user_path(current_user), class: "right-list__btn"
  = link_to "ログアウト", sign_out_path, class: ""
- else
  = link_to 'ログイン', new_user_session_path, class:""
  -# = link_to '新規会員登録', users_path, class:"right-list__btn"