/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "fullcalendar/core/main.css";
@import "fullcalendar/daygrid/main.css";
@import "fullcalendar/list/main.css";
@import "fullcalendar/timegrid/main.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#top {
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  line-height: 40px;
  font-size: 12px;
}

#calendar {
  max-width: 1200px;
  min-width: 600px;
  margin: 50px auto;
  padding: 0 10px;
}

/* 日曜日 */
.fc-sun {
  color: red;
  background-color: #fff0f0;
}

/* 土曜日 */
.fc-sat {
  color: blue;
  background-color: #f0f0ff;
}

.notification{
  text-align: center;
  background-color: orange;
  .alert{
    margin-bottom: 0rem;
  }
}


