.header{
  width: 100%;
  height: 60px;
  padding: 20px;
  text-align: right;
  background-color: rgb(156, 197, 230);
  &__out-btn{
    font-weight: bold;
    // border: 1px solid;
    border-radius: 3px;
    font-family: cursive;
    color: rgb(254,232,0);
  }
}
#businessHours{
  background-color: greenyellow;
}
