@mixin content {
  margin: 20px 0;
}

.header{
  width: 100%;
  height: 60px;
  padding: 20px;
  margin-top: 10px;
  text-align: right;
  background-color: rgb(156, 197, 230);
  &__out-btn{
    font-weight: bold;
    border-radius: 3px;
    font-family: cursive;
    color: rgb(254,232,0);
  }
}

#createEventModal.modal.hide{
  position: absolute;
  position: fixed;
  max-width: 40%;
  left: 30%;
  top: 8%;
}

#body{
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #fff;
  &__header{
    margin: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    h2{
      font-family: serif;
    }
    &__title{
      @include content;
      input.event-name{
        width: 100%;
        border-radius: 3px;
        border: 1px solid black;
      }
    }
    &__memo{
      textarea.text{
        width: 100%;
        border-radius: 3px;
      }
    }
    &__sta-date{
      @include content;
    }
    &__end-date{
      @include content;
    }
    &__color{
      @include content;
      select{
        width: 100%;
      }
    }
    &__allday{
      @include content;
    }
    &__footer{
      margin: 40px 0 20px;
      text-align: center;
      input.add-btn{
        // background-color: #00B16B;
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 4px;
        color: #ffffff;
        background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #c58668;
      }
      input.add-btn:active{
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        border-bottom: none;
      }
      input.add-btn:hover{
        opacity: 0.8;
      }
      .re-btn{
        margin-left: 30px;
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 4px;
        color: #fff;
        background-image: linear-gradient(45deg, #72C6EF 0%, #007bff 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #4682B4;
      }
      .re-btn:active{
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        border-bottom: none;
      }
      .re-btn:hover{
        opacity: 0.9;
      }
    }
  }
}

#event_start_2i{
  margin: 3px 5px;
  top: -3px;
}

label{
  font-size: 15px;
  border-radius: 3px;
}


.modal-backdrop.in{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background: rgba(45,45,45,0.8);
}

footer.page-footer {
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #263238 !important;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.2);
}

.btn[class*="btn-outline-"].btn-sm {
  padding-top: .38rem;
  padding-bottom: .38rem;
  margin: .375rem;
}

.btn.btn-sm {
  padding: .5rem 1.6rem;
  font-size: .64rem;
}

.btn-outline-white {
  color: #fff !important;
  background-color: transparent !important;
  border: 2px solid #fff !important;
}

#tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

#tooltip {
  /* ... */
  display: none;
}

#tooltip[data-show] {
  display: block;
}