/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;

}

/* Form Layout */
.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-wrapper {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3em;
  width: 400px;
  h1 {
    text-align: center;
    padding: 1em 0;
    font-size: 30px;
    color: rgb(94,94,94);
  }
}



form {
  padding: 0 1.5em;
}

.field {
  margin-bottom: 0.75em;
  width: 100%;
}

input#user_username {
  background: #fff;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

input#user_username:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

input#user_password {
  background: #fff;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

input#user_password:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.actions {
  margin: 2em 0 0;
  width: 100%;
}

.actions .btn {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.btn:hover {
  background: #ee3e52;
}

.footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}